@charset "UTF-8";
:root{

  --grad-color-1: #ffb347;
  --grad-color-2: #ffcc33;
}
body {
  font-family: 'Montserrat';
  background: url(img/body-bg.jpg) no-repeat center fixed;
  background-size: cover;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body>div {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  margin-top: 100px;
}
#main-navbar ul li a {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  color: white;
}
#main-navbar ul li:hover a {
  color: black;
}
.navbar .icon-bar {
  background: #fff;
}
#landing-page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background: url(./img/bg.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#home-wrapper {
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#home-wrapper .svg-container {
  max-width: 400px;
}
#home-wrapper {
  opacity: 0;
}
#home-wrapper svg {
  display: block;
  min-width: 256px;
  max-width: 640px;
}
#home-wrapper p {
  color: #fff;
  opacity: 0;
}
#home-wrapper .anime p,
#home-wrapper .tagline .anime,
#home-wrapper .anime button {
  -webkit-animation: fadeIn 200ms 2s ease-out forwards;
  animation: fadeIn 200ms 2s ease-out forwards;
}
#home-wrapper button a:hover {
  text-decoration: none;
}
.logo-container {
  display: block;
}
.jumbotron {
  background: black;
  background: linear-gradient(to right, black, #434343);
  color: white;
}
#register button a {
  color: white;
}
#about_us .card {
  padding: 20px 0px;
  background: transparent;
  border-radius: 4px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#about_us .card:hover {
  background: var(--grad-color-1);
  color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#about_us .info-holder {
  max-width: 200px;
  max-height: 200px;
  min-width: 120px;
  min-height: 120px;
  margin: auto;
}
#about_us .info-holder .img-container {
  margin: 20px;
  border-radius: 50%;
  overflow: hidden;
}
#about_us .info-container {
  margin-top: 20px;
}
#about_us .info-holder .img-container img {
  width: 100%;
  height: 100%;
}
.table-container {
  width: 100%;
  overflow: auto;
}
.table-container .table {
  min-width: 540px;
}
#home-wrapper svg .st0 {
  stroke-width: .1em;
  fill: white;
  stroke: #fff;
}
#timer {
  padding: 20px;
}
#timer #clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
#timer #clockdiv>div {
  padding: 5px;
  border-radius: 3px;
  background: var(--grad-color-2);
  display: inline-block;
}
#timer #clockdiv div>span {
  padding: 10px;
  border-radius: 3px;
  background: var(--grad-color-1);
  display: inline-block;
}
#timer .smalltext {
  padding-top: 5px;
  font-size: 16px;
}
footer,
.navbar {
  background: var(--grad-color-1);
  background: linear-gradient(to right, var(--grad-color-1), var(--grad-color-2));
}
footer ul {
  padding: 0px;
}
footer ul li {
  display: block;
  width: 25%;
  float: left;
  text-align: center;
  padding: 10px 0px;
}
footer ul li a,
footer p {
  color: white;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-primary{
  background: var(--grad-color-2);
  border: none;
}
.btn-primary.active,
.btn-primary:active{
  background: var(--grad-color-1);
}
.btn-primary.active.focus,
.btn-primary:active:focus{
  background: var(--grad-color-1);
}
.btn-primary.focus,
.btn-primary:focus{
  background: var(--grad-color-1);
}
.btn-primary:hover{
  background: var(--grad-color-1);
}
#register a:hover{
  text-decoration: none;
}