<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>Final Round- C{dingHub}</title>

    <!-- BootStrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">
    <!-- Angular JS -->
    <script src="angular.min.js"></script>
</head>
<body>
    <div ng-app="app">
        <div ng-controller="ctrl">
            <div class="login">
                <div id="login-container" class=" rounded">
                    <form ng-submit="submit(user)">
                        <div class="rounded-circle logo-container bg-dark">
                            <img src="logo.png" alt="cH" class="img-fluid p-3">
                        </div>
                        <h4 class="text-center">Login</h4>
                        <input type="text" class="form-control mt-3" name="name" placeholder="Name / Team Name" ng-model="user.name" required>
                        <input type="text" class="form-control" name="contact" placeholder="Contact" ng-model="user.contact" required>
                        <button class="btn btn-default mt-3" type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="instructions container pt-5">
                <h4 class="text-center">Instruction</h4>
                <hr>
                <div class="container-fluid rounded">
                    <div class="container">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere maxime placeat rem cum asperiores, ullam, sint nisi explicabo voluptatibus mollitia! At praesentium, fugiat. Animi explicabo ab quae tenetur vero voluptatum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis consequatur, quas. Accusantium soluta perspiciatis laudantium ducimus similique laboriosam repudiandae exercitationem aspernatur, voluptate sapiente suscipit aliquid harum quibusdam aliquam vero delectus!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus tempore in perferendis nulla, excepturi eos, odit delectus culpa ducimus, dolorem ab esse ipsum nostrum consectetur atque veritatis similique. Corporis, earum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere maxime placeat rem cum asperiores, ullam, sint nisi explicabo voluptatibus mollitia! At praesentium, fugiat. Animi explicabo ab quae tenetur vero voluptatum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis consequatur, quas. Accusantium soluta perspiciatis laudantium ducimus similique laboriosam repudiandae exercitationem aspernatur, voluptate sapiente suscipit aliquid harum quibusdam aliquam vero delectus!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus tempore in perferendis nulla, excepturi eos, odit delectus culpa ducimus, dolorem ab esse ipsum nostrum consectetur atque veritatis similique. Corporis, earum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere maxime placeat rem cum asperiores, ullam, sint nisi explicabo voluptatibus mollitia! At praesentium, fugiat. Animi explicabo ab quae tenetur vero voluptatum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis consequatur, quas. Accusantium soluta perspiciatis laudantium ducimus similique laboriosam repudiandae exercitationem aspernatur, voluptate sapiente suscipit aliquid harum quibusdam aliquam vero delectus!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus tempore in perferendis nulla, excepturi eos, odit delectus culpa ducimus, dolorem ab esse ipsum nostrum consectetur atque veritatis similique. Corporis, earum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere maxime placeat rem cum asperiores, ullam, sint nisi explicabo voluptatibus mollitia! At praesentium, fugiat. Animi explicabo ab quae tenetur vero voluptatum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis consequatur, quas. Accusantium soluta perspiciatis laudantium ducimus similique laboriosam repudiandae exercitationem aspernatur, voluptate sapiente suscipit aliquid harum quibusdam aliquam vero delectus!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus tempore in perferendis nulla, excepturi eos, odit delectus culpa ducimus, dolorem ab esse ipsum nostrum consectetur atque veritatis similique. Corporis, earum.</p>

                        <h5 class="text-center">Best Of Luck!!</h5>
                        <br>
                        <button class="btn btn-lg d-block mx-auto mb-5">Start</button>
                    </div>
                </div>
            </div>
            <div class="container-fluid dashboard">
                <div class="row">
                    <div class="question-list col-sm-2">
                        <div class="container-fluid">
                            <h4>Questions</h4>
                            <ul>
                                <li><a href="#">Question 1</a></li>
                                <li><a href="#">Question 2</a></li>
                                <li><a href="#">Question 3</a></li>
                                <li><a href="#">Question 4</a></li>
                                <li><a href="#">Question 5</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="question col-sm-10">
                        <div class="container-fluid">
                            <h4>Question Heading</h4><hr>
                            <button>Submit</button>
                            <div class="question-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas alias fugiat eaque magni accusantium explicabo reiciendis quod rerum aliquid, eligendi quidem harum saepe praesentium distinctio ipsam eum voluptate veritatis illum?
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic consequuntur beatae minus, ipsa non odit atque sequi iure iusto perspiciatis maiores illo soluta delectus. Itaque commodi ipsa quae, obcaecati voluptatem?
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic odit veritatis aliquam eius molestiae, magnam facilis maiores at quis quos alias, reiciendis est in minus nobis doloremque labore possimus iste!
                            </div>
                            <div class="contraints">
                                <div class="italic">
                                    <p><b>Small Contraints</b></p>
                                    <ul>
                                        <li>1&le; N &le;10<sup>3</sup></li>
                                        <li>1&le; i,j &le;10<sup>6</sup></li>
                                        <li>1&le; k &le;N</li>
                                    </ul>
                                </div>
                                <div class="italic">
                                    <p><b>Large Contraints</b></p>
                                    <ul>
                                        <li>1&le; N &le;10<sup>8</sup></li>
                                        <li>1&le; i,j &le;10<sup>9</sup></li>
                                        <li>1&le; k &le;N</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sample-table">
                                <h4>Sample Cases:</h4>
                                <table class="table">
                                    <thead class="bg-light border">
                                        <tr>
                                            <td><b>Input</b></td>
                                            <td><b>Output</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr col-span="2"><td>5</td></tr>
                                        <tr>
                                            <td>5</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>9</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>5</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="explanation">
                                <h4>Explanation!</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam sed veniam architecto optio quae velit voluptas qui voluptatem numquam debitis. Velit a non deleniti dolor similique, nostrum amet dicta quasi. <br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate eligendi ipsum consequatur iure vel laboriosam, quidem distinctio, quasi nemo aut mollitia ipsam ex, perferendis eaque, quam non dolorum nihil. Error!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const app = angular.module("app", []);
        app.controller("ctrl", function($scope){
            $scope.user ={};
            $scope.submit = function(inp){
                $scope.user = inp
                }
            }
        );
    </script>

    <script
    src="http://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>

    <script>
        
    </script>

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>